# ─── MongoDB ─────────────────────────────────────────────────────────────────
# Local:  mongodb://localhost:27017
# Atlas:  mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017

# ─── Server ──────────────────────────────────────────────────────────────────
PORT=8000
NODE_ENV=development

# ─── Clerk ───────────────────────────────────────────────────────────────────
# Paste your Clerk keys from https://dashboard.clerk.com/
CLERK_SECRET_KEY=sk_test_c9VyiL7t8iTF7OIiIV89rqmtq52W3qqazb6Jk2WYsp

# This is also needed server-side for token verification
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bmVhcmJ5LW9zcHJleS03Ny5jbGVyay5hY2NvdW50cy5kZXYk
